<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/grid.css">
    <link rel="stylesheet" href="../../public/css/app.css">
    <link rel="stylesheet" href="../../public/css/errorReport.css">
    <title>Report</title>
</head>
<body>
    <div class="grid wide container">
        <div class="row">
            <div class="col l-3 m-3 c-12 login__header">
                <h1 class="login__header__brand">SmartKitchen</h1>
            </div>

            <div class="row report__body">
                
                    <div class="error__title">
                        Error Report
                    </div>
                    <textarea class="error__content" placeholder="Please report the errors here...">
                    </textarea>
                    <div class="charkbtn">
                        <a href="#"><button class="btn5-hover btn5">Report</Button></a>
                    </div>
            </div>
        </div>


    </div>
</body>
</html>